<div class="row justify-content-center mt-5">
    <div class="col-11">

        <!--? Boton que abre modal de crear incidencia -->
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#crearIncidencia">
            <i class="bi bi-journal-plus"></i> New User
        </button>

        <table class="table table-hover  mt-2">
            <thead>
                <tr class="table-primary">
                    <th scope="col">ID NUMBER</th>
                    <th scope="col">FULL NAME</th>
                    <th scope="col">Email</th>
                    <th scope="col">PHONE</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let incidencia of incidencias">
                    <th scope="row">{{incidencia.id}}</th>
                    <td>{{incidencia.cedula}}</td>
                    <td>{{incidencia.fecha}}</td>
                    <td>{{incidencia.descripcion}}</td>
                    <td>{{incidencia.nombre}}</td>
                    <td >{{incidencia.estado}}</td>
                    <td>
                        <button (click)="declareEditData(incidencia)" type="button" class="btn btn-warning " data-bs-toggle="modal"
                            data-bs-target="#editarInc">
                            <i class="bi bi-pencil-square"></i> 
                        </button>
                    </td>


                </tr>

            </tbody>
        </table>
    </div>
</div>


<!--! Modal de crear Incidencia-->
<div class="modal fade" id="crearIncidencia" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Nueva Incidencia</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="formUsuario"  [formGroup]="newUser" (ngSubmit)="createUser" >
                    <div class="inputContainer" title="Write your full name" >
                        <label for="name">Name</label>
                        <input type="text"  formControlName="name" id="name">
                        <span style="color: red;" *ngIf="newUser.get('name')?.hasError('required') && newUser.get('name')?.touched">El Campo es <strong>REQUERIDO</strong></span>
                    </div>
                    <div class="inputContainer" title="Write your ID number">
                        <label for="cedula">ID number</label>
                        <input type="text"  formControlName="cedula" id="cedula">
                        <span style="color: red;" *ngIf="newUser.get('cedula')?.hasError('required') && newUser.get('cedula')?.touched">El Campo es <strong>REQUERIDO</strong></span>
                    </div>
                    <div class="inputContainer" title="Write your phone">
                        <label for="phone">Phone number</label>
                        <input type="text"  formControlName="phone" id="phone">
                        <span style="color: red;" *ngIf="newUser.get('phone')?.hasError('required') && newUser.get('phone')?.touched">El Campo es <strong>REQUERIDO</strong></span>
                    </div>
                    <div class="inputContainer" title="Write your Email">
                        <label for="email">Email</label>
                        <input type="email"  formControlName="email" id="email">
                        <span style="color: red;" *ngIf="newUser.get('email')?.hasError('required') && newUser.get('email')?.touched">El Campo es <strong>REQUERIDO</strong></span>
                    </div>
                </form>
                
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button [disabled]="newUser.invalid" (click)="createUser()" type="submit" class="btn btn-primary" data-bs-dismiss="modal">Create</button>
            </div>
        </div>
    </div>
</div>



<!--! Modal de editar Incidencia-->
<!-- <div class="modal fade" id="editarInc" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Incidencia</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="formUsuario"  [formGroup]="newUser" (ngSubmit)="createUser" >
                    <div class="inputContainer" title="Digita tu Nombre" >
                        <label for="name">Nombre</label>
                        <input type="text"  formControlName="name" id="name">
                        <span style="color: red;" *ngIf="newUser.get('name')?.hasError('required') && newUser.get('name')?.touched">El Campo es <strong>REQUERIDO</strong></span>
                    </div>
                    <div class="inputContainer" title="Digita tu Cedula">
                        <label for="cedula">Cedula</label>
                        <input type="text"  formControlName="cedula" id="cedula">
                        <span style="color: red;" *ngIf="newUser.get('cedula')?.hasError('required') && newUser.get('cedula')?.touched">El Campo es <strong>REQUERIDO</strong></span>
                    </div>
                    <div class="inputContainer" title="Digita tu Celular">
                        <label for="phone">Celular</label>
                        <input type="text"  formControlName="phone" id="phone">
                        <span style="color: red;" *ngIf="newUser.get('phone')?.hasError('required') && newUser.get('phone')?.touched">El Campo es <strong>REQUERIDO</strong></span>
                    </div>
                    <div class="inputContainer" title="Digita tu Email">
                        <label for="email">Email</label>
                        <input type="email"  formControlName="email" id="email">
                        <span style="color: red;" *ngIf="newUser.get('email')?.hasError('required') && newUser.get('email')?.touched">El Campo es <strong>REQUERIDO</strong></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button data-bs-dismiss="modal" (click)="editIncidencia()" type="submit" class="btn btn-primary"><i class="bi bi-pencil"></i> Editar</button>
            </div>
        </div>
    </div>
</div> -->